/* You can add global styles to this file, and also import other style files */

@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
* {
  font-family: "Noto Sans TC";
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: #f2f2f2;
}
.map-container{
    display: block;
    width: 100%;
}
mat-card {
  width: 80%;
  margin-right: 10px;
  margin-left: 10px;
}
agm-map {
    height: 50vh;
    // width: 80vw;
  }
.card {
  color: white;
}

.available {
  background-color: #388e3c;
}
.little-available {
  background-color: #ffa000;
}
.unavailable {
  background-color: #e91e63;
}
.no-data{
    color: #E91E63;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 25px;
    height: 100%;
    display: flex;
    justify-content: center;
}